/build
/Include
/Lib
/Scripts
/__pycache__
/ciphers/__pycache__
/systems/__pycache__
/spectrs/__pycache__
/spectrogram_files/mono.wav
/spectrogram_files/spectrogram.png
/dist/main/spectrogram_files
/pyvenv.cfg
/main.spec
/commands.txt
/.vscode
/share